/*
 * Globals
 */
 @import url('https://fonts.googleapis.com/css2?family=Georama:wght@200&display=swap');

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  background:url("https://images5.alphacoders.com/407/thumb-1920-407905.jpg") no-repeat !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.cover-container {
  max-width: 50em;
}

.btn-change{
  border-radius: 12px;
  height: auto;
  width: 120px;
  background: rgb(206, 206, 209);
  margin: 20px;
  float: center;
  box-shadow: 0 0 1px #ccc;
  border: 0px;
  color: #fff;
  border-radius: 12px;
  margin: 4px 2px;
}
.btn-change:hover{
  -webkit-transition: all 0.5s ease-in-out;
  -webkit-transform: scale(1.1);
  background: #e20303;
  border-radius: 12px;
  margin: 4px 2px;
}
.clock {
  position: center;

  /* transform: translateX(-50%) translateY(-50%); */
  color: #f3f3f3;
  font-size: 60px;
  font-family: 'Georama', sans-serif;
  letter-spacing: 7px;
 
}